src/main/webapp/xsd/default/comps/role_utils.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:attributeGroup name="role_edit">
		<xsd:attribute name="roleAdd" type="xsd:string" />
		<xsd:attribute name="roleEdit" type="xsd:string" />
		<xsd:attribute name="roleDelete" type="xsd:string" />
		<xsd:attribute name="roleExchange" type="xsd:string" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="role_view">
		<xsd:attribute name="roleView" type="xsd:string" />
	</xsd:attributeGroup>
</xsd:schema>