src/main/webapp/xsd/default/comps/validateCode.xsd

<?xml version="1.0" encoding="UTF-8" ?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:include schemaLocation="../base.xsd"></xsd:include>
	<xsd:element name="validateCode">
		<xsd:complexType>
			<xsd:attribute name="textName" type="xsd:string" />
			<xsd:attribute name="textWidth" type="xsd:string" default="80" />
			<xsd:attributeGroup ref="container" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>