src/main/webapp/xsd/default/comps/videoPlayer.xsd

<?xml version="1.0" encoding="UTF-8" ?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:include schemaLocation="../base.xsd"></xsd:include>
	<xsd:element name="videoPlayer">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="jsLoadedCallback" type="xsd:string" minOccurs="0"
					maxOccurs="1" />
			</xsd:sequence>
			<xsd:attributeGroup ref="container" />
			<xsd:attribute name="autoPlay" type="xsd:string" default="false"></xsd:attribute>
			<xsd:attribute name="videoUrl" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>